extends layout

append head
  script(src="/scripts/index.js")

block content
  h1 Sebulba's Joyride
  img(src="https://cloud.githubusercontent.com/assets/6472374/11669653/81016e7e-9e06-11e5-97e5-19dbe3937151.png", style="width: 260px")
  br
  p (C) Image Copyright Lucasfilm LTD
   br

   div
     h3
      label#currentStatus Login
      br
      input#userName
      button.btn(onclick="login()") Log in
   br
   button.btn(onclick="startStream()") Enter Cockpit
  img#videoStream(style="width:640px; height:480px")
